<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Only use nuget.org for this project -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="becsoft" value="https://pkgs.dev.azure.com/becsoft/_packaging/becsoft/nuget/v3/index.json" />
  </packageSources>
</configuration>
